button {
    border: none;
    background-color:rgb(227, 238, 241);
    font-size: 24px;
    color: rgb(15, 15, 15);
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-style: outset;
  }
  

  
  .red {
    /* grid-column: 3 / 5; */
    background-color: rgb(239, 91, 65);
  }
  

  .yellow {
    background: yellow;
  }

  